# 맥 OS 시스템 파일
.DS_Store
.Trash/

# 개인 설정 파일들
.CFUserTextEncoding
.bash_profile
.zshrc
.ssh/
.vscode/
.config/
.cache/

# 프로그램 관련 설정 파일들
.conda/
.jupyter/
.ipython/
.matplotlib/
.anaconda/
.python_history

# 기본 디렉토리
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
Applications/

# 프로젝트 특정 파일들
*.ipynb
*.json
